* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ALL NAV BAR STYLING */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    width: 110px;
    margin-left: 10px ;
}
.navbar .search-bar {
    display: flex;
    align-items: center;
}
.search {
    display: flex;
    border: 1px solid #cccccc;
    width: 600px;
    margin-right: 10px;
}
.search input {
    border: none;
    width: 90%;
    padding-left: 10px;
}
.search button {
    border: none;
    border-left: 1px solid #cccccc;
    width: 10%;
    padding: 2px 0;
}
.navigation-icons {
    display: flex;
    justify-content: space-around;
}
.navigation-icons .material-icons {
    margin-right: 15px;
}
.material-icons {
    color: #606060;
}

.mainbody {
    display: flex;
    height: calc(100vh - 56px);
}

.categories {
    width: 240px;
    height: 100%;
    background-color: white;
}
.category {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 24px;
    font-size: 14px;
    cursor: pointer;
}
.category:hover{
    background: #f9f9f9;
}
.category i {
    margin-right: 20px;
}
.active {
    background: #d0d0d0;
}
.active i {
    color: #ff0000;
}
.active:hover {
    background: #d0d0d0;
}

.videos {
    width: calc(100vw - 240px);
    height: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #cccccc;
}